.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
p {
  font-size: 25px;
  text-align: center;
  color: #352d39;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header {
  background-color: #5f464b;
  color: white;
  padding: 10px;
}
.header a {
  color: white;
}
.box {
  flex-basis: 30%;
  float: left;
  padding: 1%;
  margin: 0.5%;
  background-color: rgb(181, 207, 207);
}
.box img {
  width: 100%;
}
.footer {
  float: left;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #5f464b;
}
.box2 {
  /* background-color: #5f464b; */
  color: white;
  padding: 5px;
  position: fixed;
  max-width: 10%;
  height: auto;
}
@media (min-width: 700px) {
  .container {
    background-color: #fcfff7;
    flex-direction: row;
  }
}
